<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include themes/devAid/base/head.html %}
<body data-spy="scroll">
{% include themes/devAid/home/header.html %}
{% include themes/devAid/home/promo.html %}
{% include themes/devAid/home/about.html %}
{% include themes/devAid/home/features.html %}
{% include themes/devAid/home/docs.html %}
{% include themes/devAid/home/license.html %}
{% include themes/devAid/home/contact.html %}
{% include themes/devAid/base/footer.html %}
</body>
</html>
